body {
    width: 300px;
    margin: 0 auto;
    padding: 0 20px;
}

h3 {
    font: bold 38 'Times New Roman' serif ;
    text-shadow: 6px 6px 6px #afaeae;
}

img {
    width: 300px;  
}

p {
    font-style: italic;
}